.root{
    background-image: url('https://th.bing.com/th/id/OIP.3vOWVS8q5pBJp2cFr06dWwHaEK?w=311&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7');
    height: 80vh;
}
#idh111{
    display: flex;
    justify-content: center;
    font-size: 6vh;
}
.btndiv{
    display: flex;
    justify-content: center;
}
.page{
    color: white;
    text-align: center;
    font-size: medium;
    margin: 0%;
}

.follow{
    width: 5vw;
    height: 5vh;
    margin-right: 1vh;
}